### **1. Library Installation**

In [139]:
'''
%pip install folium
%pip install requests
%pip install pandas
'''

'\n%pip install folium\n%pip install requests\n%pip install pandas\n'

### **2. Library Importing**

In [140]:
import pandas as pd
import folium
import requests

### **3. Data Preprocessing**

**3.1 General Exploring and Cleaning**

In [141]:
# Reading Metro Network '.csv' file into a pandas dataframe
data = pd.read_csv("data\\Delhi-Metro-Network.csv")

In [142]:
data.head()

,Station ID,Station Name,Distance from Start (km),Line,Opening Date,Station Layout,Latitude,Longitude
0,1,Jhil Mil,10.3,Red line,2008-04-06,Elevated,28.675790,77.312390
1,2,Welcome [Conn: Red],46.8,Pink line,2018-10-31,Elevated,28.671800,77.277560
2,3,DLF Phase 3,10.0,Rapid Metro,2013-11-14,Elevated,28.493600,77.093500
3,4,Okhla NSIC,23.8,Magenta line,2017-12-25,Elevated,28.554483,77.264849
4,5,Dwarka Mor,10.2,Blue line,2005-12-30,Elevated,28.619320,77.033260

In [143]:
# Checking data dimensionality
data.shape

(285, 8)

In [144]:
# Checking for null data in all columns
null_counts = data.isnull().sum()
print(null_counts)

Station ID                  0
Station Name                0
Distance from Start (km)    0
Line                        0
Opening Date                0
Station Layout              0
Latitude                    0
Longitude                   0
dtype: int64

In [145]:
# Exploring the columns of the dataframe
data.columns

Index(['Station ID', 'Station Name', 'Distance from Start (km)', 'Line',
       'Opening Date', 'Station Layout', 'Latitude', 'Longitude'],
      dtype='object')

In [146]:
# Dropping Stations ID, because there is no need to manually index rows
data.drop('Station ID', axis=1, inplace=True)

In [147]:
# Checking for value counts in categorical attributes: Line & Station Layout.
columns = ['Line','Station Layout']
for column in columns:
    print(f"Value counts for {column}:")
    print(data[column].value_counts())
    print()

Value counts for Line:
Line
Blue line            49
Pink line            38
Yellow line          37
Voilet line          34
Red line             29
Magenta line         25
Aqua line            21
Green line           21
Rapid Metro          11
Blue line branch      8
Orange line           6
Gray line             3
Green line branch     3
Name: count, dtype: int64

Value counts for Station Layout:
Station Layout
Elevated       214
Underground     68
At-Grade         3
Name: count, dtype: int64

In [148]:
# Replacing 'line' to remove data redundancy
data['Line'] = data['Line'].str.replace(' line','')

# Removing branch to keep data consistency ('Green line branch' & 'Green line' surely represent one category) 
data['Line'] = data['Line'].replace({
    'Green line branch': 'Green line',
    'Blue line branch': 'Blue line'
})

In [149]:
# Replacing 'At-Grade' with 'Ground' for better data explanation
data['Station Layout'] = data['Station Layout'].replace({
    'At-Grade': 'Ground'
})

**3.2 Cleaning Column 'Station Name'**

There is duplicate combinations of 'Latitude' and 'Longitude' data with different 'Station Name' which I considered as inconsistent data, as there can not be two different Stations in one reference point. So I used Opeen Street Map API to get more information about the coordinate.

In [151]:
# Function for making an API call to Open Street Map and returning information retrieved from the web
# This function is time consuming for larger datasets since it makes an API call for each row at once
def get_street_data(latitude, longitude):
    url = f"https://nominatim.openstreetmap.org/reverse?format=json&lat={latitude}&lon={longitude}&zoom=18&addressdetails=1"
    response = requests.get(url)
    data = response.json()
    #print(f"URL for testing Open Street Map API {url}")
    return data

In [152]:
latitude = 28.4089049
longitude = 76.9155232

street_data = get_street_data(latitude, longitude)
station_name = street_data.get('display_name')
print()
print(f"Display name: {station_name}")

URL for testing Open Street Map API https://nominatim.openstreetmap.org/reverse?format=json&lat=28.4089049&lon=76.9155232&zoom=18&addressdetails=1

Display name: Mewka, Sector 92, Gurgaon, Gurugram District, Haryana, 122505, India

In [153]:
# Generating a new feature 'Latitude_Longitude' to search for duplicate records
data['Latitude_Longitude'] = data['Latitude'].astype(str) + ' ' + data['Longitude'].astype(str)

# Checking for duplicate combinations of 'Latitude_Longitude'
duplicate_combinations = data[data.duplicated(subset=['Latitude_Longitude'], keep=False)]
duplicate_combinations_count = duplicate_combinations['Latitude_Longitude'].count()

if not duplicate_combinations.empty:
    print(f"{duplicate_combinations_count} duplicates found.\n")
    print("Duplicate combinations of latitude and longitude:\n")
    print(duplicate_combinations[['Station Name','Line','Latitude_Longitude']])

52 duplicates found.

Duplicate combinations of latitude and longitude:

                                       Station Name          Line  \
1                               Welcome [Conn: Red]          Pink
2                                       DLF Phase 3   Rapid Metro
10               Central Secretariat [Conn: Violet]        Yellow
18                                 Belvedere Towers   Rapid Metro
28                            Delta 1 Greater Noida          Aqua
31                     Kashmere Gate [Conn: Yellow]        Voilet
36   Dwarka Sector 21(First station) [Conn: Orange]          Blue
39                                    Old Faridabad        Voilet
54                                Inderlok Conn:Red         Green
57                                 Noida Sector 148          Aqua
62                                  Noida Sector 50          Aqua
66              Kashmere Gate [Conn: Violet,Yellow]           Red
71                                  Noida Sector 59          Blue
74                                  Noida Sector 62          Blue
77                     Noida Sector 52 [Conn: Aqua]          Blue
84                       Sikandarpur [Conn: Yellow]   Rapid Metro
85                                     GNIDA Office          Aqua
88                                  Noida Sector 61          Blue
95                                     Sector 55-66   Rapid Metro
96                           Terminal 1 IGI Airport       Magenta
99                                 Noida Sector 142          Aqua
102                                Noida Sector 147          Aqua
105              Central Secretariat [Conn: Yellow]        Voilet
111                        Kirti Nagar [Conn: Blue]  Green branch
115                                     Yamuna Bank   Blue branch
117                                      Cyber City   Rapid Metro
123                                Noida Sector 144          Aqua
127                                           Sarai        Voilet
141                            Welcome [Conn: Pink]           Red
146                                 Sector 54 Chowk   Rapid Metro
150                         Sadar Bazaar Cantonment       Magenta
162                                Noida Sector 145          Aqua
167                                    Sector 42-43   Rapid Metro
187                             Depot Greater Noida          Aqua
192                        Rajiv Chowk [Conn: Blue]        Yellow
194                                 Moulsari Avenue   Rapid Metro
195                    Kashmere Gate [Conn: Violet]        Yellow
197                                 South Extension          Pink
198                                     DLF Phase 2   Rapid Metro
201                     Lajpat Nagar [Conn: Violet]          Pink
208                      Rajiv Chowk [Conn: Yellow]          Blue
210                                      NSEZ Noida          Aqua
213                        New Delhi [Conn: Orange]        Yellow
234                                 Noida Sector 34          Blue
249        New Delhi-Airport Express [Conn: Yellow]        Orange
262                       Lajpat Nagar [Conn: Pink]        Voilet
271                                    Sector 53-54   Rapid Metro
273                                     DLF Phase 1   Rapid Metro
274                                     Yamuna Bank          Blue
275                       Kirti Nagar [Conn: Green]          Blue
278                   Dwarka Sector 21 [Conn: Blue]        Orange
279                          Inderlok [Conn: Green]           Red

         Latitude_Longitude
1          28.6718 77.27756
2           28.4936 77.0935
10        28.61474 77.21191
18          28.4936 77.0935
28       28.474388 77.50399
31         28.6675 77.22817
36        28.55226 77.05828
39    28.4808629 77.0848883
54        28.67319 77.16994
57   28.4758348 77.55447875
62      28.535517 77.391029
66         28.6675 77.22817
71    28.4808629 77.0848883
74    28.4808629 77.0848883
77    28.4808629 77.0848883
84          28.4936 77.0935
85       28.474388 77.50399
88    28.4808629 77.0848883
95          28.4936 77.0935
96    28.5771509 77.1111533
99   28.4758348 77.55447875
102   28.4089049 76.9155232
105       28.61474 77.21191
111       28.65575 77.15057
115       28.62331 77.26792
117         28.4936 77.0935
123   28.4089049 76.9155232
127   28.6517178 77.2219388
141        28.6718 77.27756
146         28.4936 77.0935
150   28.5771509 77.1111533
162   28.4089049 76.9155232
167         28.4936 77.0935
187      28.474388 77.50399
192       28.63282 77.21826
194         28.4936 77.0935
195        28.6675 77.22817
197   28.6517178 77.2219388
198         28.4936 77.0935
201       28.57079 77.23653
208       28.63282 77.21826
210     28.535517 77.391029
213       28.64307 77.22144
234   28.4808629 77.0848883
249       28.64307 77.22144
262       28.57079 77.23653
271         28.4936 77.0935
273         28.4936 77.0935
274       28.62331 77.26792
275       28.65575 77.15057
278       28.55226 77.05828
279       28.67319 77.16994

In [ ]:
# Function for fetching new station name
def fetch_station_name(row):
    street_data = get_street_data(row['Latitude'], row['Longitude'])
    return street_data.get('display_name', None)

data['New Station Name'] = data.apply(fetch_station_name, axis=1)

In [157]:
data['New Station Name'] = data['New Station Name'].str.split(',').str[0]

In [158]:
# Adding feature 'Status' for
#data['Status'] = 'Unique'
#data.loc[data[data.loc[:, ['Latitude', 'Longitude']].duplicated(keep=False)].index, 'Status'] = 'Duplicate'

In [159]:
# Saving the processed dataframe into new folder destined for cleaned and processed data.
data.to_csv('data_preprocessed\\Delhi-Metro-Network.csv')